<a href="https://colab.research.google.com/github/GRACENGARI/AWS-REPO/blob/main/data_analysis1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df= pd.read_csv("/content/loan-test.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
367,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
368,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
369,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
370,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
371,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural

Data Exploration

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            372 non-null    object
 1   Gender             361 non-null    object
 2   Married            372 non-null    object
 3   Dependents         362 non-null    object
 4   Education          372 non-null    object
 5   Self_Employed      350 non-null    object
 6   ApplicantIncome    372 non-null    int64
 7   CoapplicantIncome  372 non-null    int64
 8   LoanAmount         367 non-null    float64
 9   Loan_Amount_Term   366 non-null    float64
 10  Credit_History     344 non-null    float64
 11  Property_Area      372 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 35.0+ KB

In [4]:
df.shape

(372, 12)

In [6]:
df.sample(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
106,LP001563,NaN,No,0,Graduate,No,1596,1760,119.0,360.0,0.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
52,LP001291,Male,Yes,1,Graduate,No,3500,3077,160.0,360.0,1.0,Semiurban
68,LP001359,Male,Yes,0,Graduate,No,7666,0,187.0,360.0,1.0,Semiurban

Data Preprocessing
TO IDENTFY ALL MISSING VALUES IN THE DATASET

In [7]:
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        22
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       28
Property_Area         0
dtype: int64

Deleting a column

In [8]:
df.dropna(subset=['Loan_Amount_Term'],inplace=True)

In [10]:
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        22
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      0
Credit_History       27
Property_Area         0
dtype: int64

In [11]:
df["Education"].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

impute with constant value

In [12]:
df["Self_Employed"].unique()

array(['No', 'Yes', nan], dtype=object)

In [13]:
df["Self_Employed"].fillna("undefined",inplace=True)

In [15]:
df['Self_Employed'].isnull().sum()

0

In [16]:
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      0
Credit_History       27
Property_Area         0
dtype: int64

Getting unique values of each feature

In [17]:
df["Gender"].unique()

array(['Male', 'Female', nan], dtype=object)

impute with mode

In [19]:
gender_filling=df["Gender"].mode().iloc[0]

In [20]:
df["Gender"].fillna(gender_filling,inplace=True)

check no of missing values

In [23]:
df["Gender"].isnull().sum()

0

In [24]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           10
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      0
Credit_History       27
Property_Area         0
dtype: int64

In [25]:
df["Dependents"].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [29]:
dependent_filling=df["Dependents"].mode().iloc[0]
dependent_filling

'0'

In [31]:
df["Dependents"].fillna(dependent_filling,inplace=True)

In [39]:
df['Dependents'].isnull().sum()

0

In [40]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      0
Credit_History       27
Property_Area         0
dtype: int64

In [41]:
df["LoanAmount"].unique()

array([1.1000e+02, 1.2600e+02, 2.0800e+02, 1.0000e+02, 7.8000e+01,
       1.5200e+02, 5.9000e+01, 1.4700e+02, 2.8000e+02, 1.2300e+02,
       9.9000e+03, 1.6200e+02, 4.0000e+01, 1.6600e+02, 1.2400e+02,
       1.3100e+02, 2.0000e+02, 3.0000e+02, 1.0100e+02, 1.2500e+02,
       2.9000e+02, 8.0000e+00, 1.4000e+02, 2.7500e+02, 1.9200e+02,
       1.5800e+02, 1.7600e+02, 1.8500e+02, 9.0000e+01, 1.1600e+02,
       8.4000e+01, 1.0800e+02, 1.8700e+02, 1.2000e+02, 1.6000e+02,
       3.0000e+01, 9.2000e+01, 1.3000e+02, 1.3400e+02, 1.8900e+02,
       1.3800e+02, 1.8800e+02, 9.5000e+01, 6.5000e+01, 2.0139e+04,
       2.3200e+02, 1.4400e+02, 1.5500e+02, 1.8600e+02, 5.0000e+01,
              nan, 1.6300e+02, 3.6000e+02, 1.4900e+02, 2.5700e+02,
       1.0200e+02, 1.3500e+02, 7.7000e+01, 3.9000e+02, 2.5600e+02,
       6.1000e+01, 1.0700e+02, 1.1900e+02, 1.6500e+02, 9.3000e+01,
       1.2200e+02, 1.5700e+02, 1.8000e+02, 1.0400e+02, 2.1300e+02,
       1.4600e+02, 7.1000e+01, 2.2500e+02, 7.0000e+01, 1.3200e+02,
       1.0500e+02, 8.3000e+01, 1.0300e+02, 1.5000e+02, 1.3900e+02,
       5.5000e+02, 2.6000e+02, 1.9900e+02, 1.1300e+02, 1.4800e+02,
       1.1700e+02, 7.2000e+01, 2.1400e+02, 1.3300e+02, 1.4300e+02,
       2.0900e+02, 8.0000e+01, 1.7000e+02, 9.4000e+01, 7.9000e+01,
       1.5900e+02, 1.7300e+02, 2.3500e+02, 3.3600e+02, 9.6000e+01,
       1.2800e+02, 4.1200e+02, 1.1400e+02, 1.1500e+02, 8.8000e+01,
       5.5000e+01, 1.1800e+02, 2.1200e+02, 7.4000e+01, 2.8000e+01,
       6.6000e+01, 6.4000e+01, 1.4200e+02, 1.5100e+02, 8.1000e+01,
       1.7100e+02, 2.3400e+02, 1.8400e+02, 1.1200e+02, 4.9000e+01,
       9.9000e+01, 2.4000e+02, 4.6000e+02, 2.9700e+02, 1.0600e+02,
       1.4100e+02, 1.4500e+02, 7.5000e+01, 1.7700e+02, 6.8000e+01,
       1.8300e+02, 1.2100e+02, 1.5300e+02, 6.7000e+01, 1.8100e+02,
       3.5000e+01, 4.6000e+01, 8.7000e+01, 1.3700e+02, 2.5400e+02,
       1.0900e+02, 1.9700e+02, 8.5000e+01, 6.0000e+01, 7.6000e+01,
       9.8000e+01])

In [42]:
df["LoanAmount"]

0      110.0
1      126.0
2      208.0
3      100.0
4       78.0
       ...
367    158.0
368    158.0
369    120.0
370    120.0
371    120.0
Name: LoanAmount, Length: 366, dtype: float64

In [44]:
loan_amount_ave=df["LoanAmount"].mean()
loan_amount_ave

220.4847645429363

In [48]:
df["LoanAmount"].fillna("loan_amount_ave",inplace=True)

In [52]:
df["LoanAmount"].isnull().sum()

0

In [53]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       27
Property_Area         0
dtype: int64

In [54]:
df["Credit_History"]

0      1.0
1      1.0
2      1.0
3      NaN
4      1.0
      ...
367    1.0
368    1.0
369    1.0
370    1.0
371    1.0
Name: Credit_History, Length: 366, dtype: float64

In [55]:
df["Credit_History"].unique()

array([ 1., nan,  0.])

In [56]:
Credit_History_filling=df["Credit_History"].mode().iloc[0]
Credit_History_filling

1.0

In [57]:
df["Credit_History"].fillna(Credit_History_filling,inplace=True)

In [58]:
df['Credit_History'].isnull().sum()

0

In [60]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

!!MISSION ACCOMPLISHED